<a href="https://colab.research.google.com/github/mohsenshahii/Heart/blob/main/heart.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from statsmodels.compat import lzip
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from imblearn.over_sampling import SMOTE

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import statsmodels.formula.api as smf
import statsmodels.stats.api as sms

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [6]:
heart_df = pd.read_csv('heart_2020_cleaned.csv')

In [44]:
heart_df

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,1,16.60,0,1,1,3.0,1,0,55-59,1,0,0,5,5.0,0,1,0
1,1,20.34,1,1,0,0.0,1,0,80 or older,1,1,0,5,7.0,1,1,1
2,1,26.58,0,1,1,20.0,1,1,65-69,1,0,0,2,8.0,0,1,1
3,1,24.21,1,1,1,0.0,1,0,75-79,1,1,1,4,6.0,1,1,0
4,1,23.71,1,1,1,28.0,0,0,40-44,1,1,0,5,8.0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319790,0,27.41,0,1,1,7.0,0,1,60-64,2,0,1,2,6.0,0,1,1
319791,1,29.84,0,1,1,0.0,1,1,35-39,2,1,0,5,5.0,0,1,1
319792,1,24.24,1,1,1,0.0,1,0,45-49,2,1,0,4,6.0,1,1,1
319793,1,32.81,1,1,1,0.0,1,0,25-29,2,1,1,4,12.0,1,1,1
319794,1,46.56,1,1,1,0.0,1,0,80 or older,2,1,0,4,8.0,1,1,1

In [11]:
heart_df.replace('No', 1, inplace = True)
heart_df.replace('Yes', 0, inplace = True)
heart_df['Sex'].replace(['Female', 'Male'], [0, 1], inplace = True)
heart_df['Race'].replace(['White', 'Hispanic', 'Black', 'Other', 'Asian', 'American Indian/Alaskan Native'], [1, 2, 3, 4, 5, 6] , inplace = True)
heart_df['GenHealth'].replace(['Very good','Good', 'Excellent', 'Fair', 'Poor'], [5, 4, 3, 2, 1], inplace = True)

In [6]:
print(heart_df.shape)

(319795, 18)

In [14]:
print(list(heart_df.columns))

['HeartDisease', 'BMI', 'Smoking', 'AlcoholDrinking', 'Stroke', 'PhysicalHealth', 'DiffWalking', 'Sex', 'AgeCategory', 'Race', 'Diabetic', 'PhysicalActivity', 'GenHealth', 'SleepTime', 'Asthma', 'KidneyDisease', 'SkinCancer']

In [12]:
heart_df['Race'].value_counts()

1    245212
2     27446
3     22939
4     10928
5      8068
6      5202
Name: Race, dtype: int64

In [13]:
heart_df.drop(['MentalHealth', axis=1, inplace=True )

SyntaxError: ignored

In [14]:
x = heart_df.loc[:,heart_df.columns != 'HeartDisease']
y = heart_df.loc[:,heart_df.columns == 'HeartDisease']

In [15]:
os = SMOTE(random_state=0)
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state= 42, stratify = y)
columns = x_train.columns
os_data_x, os_data_y = os.fit_resample(x_train, y_train)

ValueError: ignored